body{background-color:rgb(255, 255, 255);font:400 19px/1.38 Rokkitt;color:rgb(0, 0, 0);}

.container{float:left;}

.h2{float:left;}

.h3{position:relative;float:left;color:rgb(0, 0, 0);}

._button{display:block;position:relative;float:left;text-align:center;}

._input{display:block;position:relative;float:left;margin-left:37.1992199999%;padding:0 10px;border:1px solid rgb(0, 0, 0);border-radius:17px;background-color:rgb(242, 242, 242);font-size:13px;color:rgb(0, 0, 0);}

.container-1{position:relative;z-index:0;width:100%;height:74px;border:1px solid rgb(75, 177, 103);border-radius:2px;background-color:rgb(75, 177, 103);}

.container-2{width:100%;height:124px;background-image:url('../images/banner3.png');background-repeat:no-repeat;background-size:contain;background-position:center top;}

.container-3{position:relative;clear:both;z-index:4;width:44.3333333333%;height:382px;margin:5px 0 0 27.19922%;border:3px solid rgb(99, 95, 95);border-radius:2px;}

.h2-1{position:relative;z-index:14;width:34.33%;min-height:19px;margin:-53px 0 0 14.25%;font-family:Montserrat;font-size:23px;letter-spacing:-2px;word-spacing:2px;color:rgb(255, 255, 255);}

.h2-2{clear:both;margin:5px 0 0 27.19922%;font-size:25px;color:rgb(0, 0, 0);}

.h3-1{clear:both;z-index:7;margin:-360px 0 0 31.56641%;}

.h3-2{z-index:8;margin:-319px 0 0 31.06641%;}

.h3-3{z-index:12;width:3.5%;min-height:16px;margin:-129px 0 0 33.66667%;}

._button-1{clear:both;z-index:13;width:12.0833333333%;height:61px;margin:-68px 0 0 2.16797%;border-radius:3px;background-image:url('../images/white_clear.png');background-repeat:no-repeat;background-size:contain;background-position:center center;font-family:Montserrat;font-size:16px;color:rgb(0, 0, 0);}

._button-2{z-index:1;width:6.25%;height:41px;margin:-53px 0 0 77.19922%;border-radius:3px;background-image:url('../images/triangle36(4).png');background-repeat:no-repeat;background-size:contain;background-position:center center;font-size:14px;color:rgb(255, 255, 255);}

._button-3{z-index:2;width:6.25%;height:41px;margin:-53px 0 0 84%;border-radius:3px;background-image:url('../images/profile(3).png');background-repeat:no-repeat;background-size:contain;background-position:right center;font-size:14px;color:rgb(255, 255, 255);}

._button-4{z-index:3;width:6.25%;height:41px;margin:-53px 0 0 91.66406%;border-radius:3px;background-image:url('../images/log%20in.png');background-repeat:no-repeat;background-size:contain;background-position:right center;font-size:14px;color:rgb(255, 255, 255);}

._button-5{z-index:11;width:10%;height:27px;margin:-42px 0 0 59.59896%;border:1px solid rgb(0, 0, 0);border-radius:11px;background-color:rgb(75, 177, 103);font-size:16px;color:rgb(0, 0, 0);}

._input-1{z-index:9;width:21.9166666666%;height:26px;margin-top:-360px;text-align:center;}

._input-2{z-index:10;width:30.6666666666%;height:164px;margin-top:-319px;text-align:justify;}

@media(max-width: 600px) {
.h3{position:relative;}

._button{position:relative;}

._input{position:relative;margin-left:19.66667%;}

.container-1{position:relative;z-index:0;}

.container-2{margin-top:8px;}

.container-3{position:relative;clear:none;z-index:4;width:92.3333333333%;height:236px;margin-top:8px;margin-left:3.83073%;}

.h2-1{position:relative;z-index:14;margin-top:-20px;margin-left:0.875%;font-size:15px;}

.h2-2{margin-top:-278px;margin-left:3.83073%;}

.h3-1{z-index:7;margin-top:-214px;margin-left:8.13021%;}

.h3-2{z-index:8;margin-top:-181px;margin-left:7.13021%;}

.h3-3{z-index:12;margin-top:-72px;margin-left:13.33073%;}

._button-1{z-index:13;width:18.8299999999%;height:62px;margin-top:-74px;margin-left:6.5%;}

._button-2{z-index:1;margin-left:59.76563%;background-size:cover;background-position:right center;}

._button-3{z-index:2;margin-left:74.33073%;background-size:cover;}

._button-4{z-index:3;width:8%;margin-left:88.16406%;background-size:cover;}

._button-5{z-index:11;margin-top:-41px;margin-left:83.19792%;}

._input-1{z-index:9;width:36.3333333333%;margin-top:-214px;}

._input-2{z-index:10;width:65.5%;height:94px;margin-top:-176px;}
}